* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/wall.png);
}

#title {
  font-size: 6em;
  font-family: "Sometype Mono", "monospace";
}

body {
  background-image: url(../img/cork.png);
}

.card {
  position: relative;
  font-family:  "Edu Tas Beginner", sans-serif;
}

.pin {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%,-50%);
}

#overlay {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

#overlay img {
  height: 65vh;
  object-fit: fill;
}

.card:hover {
  transform: rotate(15deg);
  transition: 1s;
  z-index: 1;
  cursor: pointer;
}